# Secrets are needed to run some of the live tests.
navitia.authorization =
bvg.api_authorization =
nvv.api_authorization =
vbn.api_authorization =
sh.api_authorization =
vmt.api_authorization =
invg.api_authorization =
avv_aachen.api_authorization =
oebb.api_authorization =
vor.api_authorization =
ooevv.api_authorization =
svv.api_authorization =
vvt.api_authorization =
vmobil.api_authorization =
vao.api_authorization =
zvv.api_authorization =
dsb.api_authorization =
se.api_authorization =
lu.api_authorization =
hsl.usertoken =
hsl.passphrase =
