# Secrets are needed to run some of the live tests.
vgn.api_base =
navitia.authorization =
bvg.api_authorization =
vbn.api_authorization =
sh.api_authorization =
vmt.api_authorization =
vor.api_authorization =
ooevv.api_authorization =
svv.api_authorization =
vvt.api_authorization =
vmobil.api_authorization =
vao.api_authorization =
hsl.usertoken =
hsl.passphrase =
