# Secrets are needed to run some of the live tests.
navitia.authorization =
hci.salt_encryption_key =
db.api_authorization =
db.encrypted_salt =
bvg.api_authorization =
vbb.api_authorization =
vbb.encrypted_salt =
nvv.api_authorization =
avv_augsburg.api_authorization =
sh.api_authorization =
vbn.api_authorization =
vbn.encrypted_salt =
nasa.api_authorization =
vgs.api_authorization =
vgs.encrypted_salt =
vmt.api_authorization =
invg.api_authorization =
invg.encrypted_salt =
avv_aachen.api_authorization =
oebb.api_authorization =
vor.api_authorization =
ooevv.api_authorization =
svv.api_authorization =
vvt.api_authorization =
vmobil.api_authorization =
vao.api_authorization =
zvv.api_authorization =
sncb.api_authorization =
dsb.api_authorization =
se.api_authorization =
lu.api_authorization =
bart.api_authorization =
cmta.api_authorization =
