# Secrets are needed to run some of the live tests.
bvg.api_authorization =
vbb.api_authorization =
nvv.api_authorization =
rmv.api_authorization =
avv_augsburg.api_authorization =
sh.api_authorization =
vbn.api_authorization =
nasa.api_authorization =
vgs.api_authorization =
vmt.api_authorization =
invg.api_authorization =
avv_aachen.api_authorization =
oebb.api_authorization =
vor.api_authorization =
ooevv.api_authorization =
svv.api_authorization =
vvt.api_authorization =
vmobil.api_authorization =
vao.api_authorization =
zvv.api_authorization =
dsb.api_authorization =
se.api_authorization =
lu.api_authorization =
pl.api_authorization =
bart.api_authorization =
vrs.client_certificate =
